<!-- 
<html>
  <head>
    <title>Video Live Stream</title>
  </head>
  <body>
    <h1>Video Live Stream</h1>
    <img src="{% url 'video_feed' value=index%}">
  </body>
</html> -->


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS System</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
<body>
<nav class="uk-navbar-container" uk-navbar uk-sticky>
    <div class="uk-navbar-left">
        <div class="uk-container">
            <h3>Welcome, {{request.user}}</h3>
        </div>
    </div>

    <div class="uk-navbar-right">
       <div class="uk-container">
            <ul class="uk-navbar-nav">
                <li>
                    <button class="uk-button uk-button-primary dashbutton"><a href="/teacher/dashboard/" style="color:white;">Dashboard<span uk-icon="icon: triangle-down"></span></a></button>

                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#class-modal" uk-toggle>Create Class</a></li>
                            <li><a href="#teacher-modal " uk-toggle>Setting</a></li>
                            <hr>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
       </div>

    </div>
</nav>

           
    
                    <ul class="uk-navbar-nav uk-flex-center">
                        <li class="uk-active"><a href={{assignments}}>Discussions & Assignments</a></li>
                        <li class="uk-active"><a href={{streams}}>Stream</a></li>
                        <li class="uk-active"><a href={{students}}>Students</a></li>
                    </ul>
                <hr class="uk-divider-icon">
    <div class="uk-container">
      <h3> Access restricted for students </h3>
    </div>
 
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
<script src="/static/js/js.js"></script>
</body>
</html>

