{% extends 'master/dashboard.html' %}
 {% load static %}
 {% block 'contents' %}
     <div class="uk-navbar-right">
       <div class="uk-container">
            <ul class="uk-navbar-nav">
                <li>
                    <button class="uk-button uk-button-primary dashbutton"><a href="/student/dashboard/" style="color:white;">Dashboard</a></button>
                </li>
            </ul>
       </div>

    </div>
    <hr class="uk-divider-icon">
        <div class="uk-width-3-4@m content">
            <h3>{{student.name}}</h3>
             {% include 'includes/message.html' %}
            <div class="uk-card uk-card-default uk-card-small uk-card-body">
               {% if student.profile %}
                    <img src="{{MEDIA_URL}}{{student.profile.url}}" class="profile" uk-img>
                {% else %}
                     <img src="{% static 'img/teacher.png' %}" class="profile" uk-img>
                {% endif %}
                <h4>About</h4>
                <hr>
                <ul class="about_list">
                    <li><span uk-icon="receiver"></span> : {{student.contact_no}}</li>
                    <h6><b> Classes joined </b> </h6>
                    {% for i in classes %}
                   
                    <li ><span uk-icon="users" ></span> : {{i.class_join__name}}</li>
                    {% endfor %}

                </ul>
            </div>

        </div>
   </div>
 {% endblock %}