{% extends 'master/dashboard.html' %}
 {% load static %}
 {% block 'contents' %}
    <style>
        .uk-button-success {
            background-color: #82bb42;
            color: #fff;
            background-image: -webkit-linear-gradient(top,#9fd256,#6fac34);
            background-image: linear-gradient(to bottom,#9fd256,#6fac34);
            border-color: rgba(0,0,0,.2);
                border-bottom-color: rgba(0, 0, 0, 0.2);
            border-bottom-color: rgba(0,0,0,.4);
            text-shadow: 0 -1px 0 rgba(0,0,0,.2);
        }
    </style>
     <div class="uk-navbar-right">
       <div class="uk-container">
            <ul class="uk-navbar-nav">
                <li>
                    <button class="uk-button uk-button-primary dashbutton"><a href="/teacher/dashboard/" style="color:white;">Dashboard</a></button>
                </li>
            </ul>
       </div>

    </div>

    <body>
        {%if not request.user.is_updated %}
        <div class="uk-panel">
            <div class="uk-text-center uk-card-body">

                    <h4 >Person Registration</h4>
                    <a> Remember! You can update your profile only once </a>
            </div>       
            <main>

    
        <div class="uk-text-center">
            
            {%if teacher.profile == ''%}
            <img id="photo" src="/static/img/teacher.png" alt="your image" / width="150" height="150">
            {%else%}
            <img id="photo" src="{{teacher.profile.url}}" alt="your image" / width="150" height="150">
            {%endif%}
        </div>
        
                

                <div class="uk-text-center">
                    <br>
                    <input type='file' id = "person_photo" alt="your image" onchange="readURL(this);" />
                </div>
                <div class="uk-column-1-3">
                  
                    <div class="uk-text-center">
                        <h3> <br> Name </h3>
                        <input type="text" class="form-control" 
                        
                        id = "name" placeholder="Teacher Name" value = "{{teacher.name}}"
                         aria-label="Teacher Name" style="font-size:20px;">
                    </div>

                    <div class="uk-text-center">
                        <h3> <br>Department</h3>
                        <input type="text" class="form-control" 
                        id = "department" placeholder="Department" value  = "{{teacher.department}}"
                        aria-label="Department" style="font-size:20px;">
                    </div>

                    <div class="uk-text-center">
                        <h3> <br>Contact Number</h3>
                        <input type="text" class="form-control" 
                        id = "contact"  value = "{{teacher.contact_no}}"
                        placeholder="Contact" aria-label="Contact"
                         style="font-size:20px;">
                    </div>
                </div>

              
                <br>
                
                <div class="uk-text-center">
                    {% csrf_token %}
                    <button class="uk-button uk-button-success dashbutton"><a  onclick = "uploadItems()" style="color:white;">Update</a></button>
                    
                </div>
            </main>
        </div>
        {%else%}
            <h4> You have already updated your profile. Please request your manager to give you updating permissions </h4>
        {%endif%}
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script> src="https://cdnjs.cloudflare.com/ajax/libs/async/3.2.0/async.min.js"</script>
        <script>
            async function postData(url_address, data_to_be_posted) {
                const response = await fetch(url_address, {
                    method: "POST",
                    body: data_to_be_posted
                });
                return response.json();
            }

            function uploadItems() {
                var name= document.getElementById("name");
                var department= document.getElementById("department");
                var contact= document.getElementById("contact");
                var photo= document.getElementById("person_photo");

                
                
                let formData = new FormData();
               
                formData.append('name', name.value);
                formData.append('department', department.value);
                formData.append('contact', contact.value);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                

                for (i = 0; i < photo.files.length; i++){
                    formData.append('photo', photo.files[i]);
                }
                console.log(formData);

                //formData.append('photo'+String(i+1), photo.files[i]);
               
               
                var url_address = "/teacher/dashboard/update"
                alert("Data has been processed. Please wait")
                postData(url_address, formData).then(data => {
                   alert(data.message);
                   location.replace("/teacher/dashboard/");

                });
                alert("Photo is being processed and uploaded!");
                
            }

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
            
                    reader.onload = function (e) {
                        $('#photo')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                    };
            
                    reader.readAsDataURL(input.files[0]);
                }
            }

            

        </script>
    </body>
 {% endblock %}